@model UsuarioModel
@{
    ViewData["Title"] = "Confirmaçao apagar o usuário";
}

<div class="text-center">
    <h3>Realmente deseja apagar o usuário (@Model.Nome) ?</h3>
</div>

<a class="btn btn-danger col-12 mt-4" role="button"  asp-controller="Usuario" asp-action="Apagar" asp-route-id="@Model.Id">Confirmar Exclusao</a>
<a class="btn btn-primary col-12 mt-2" role="button" asp-controller="Usuario" asp-action="Index">Cancelar Exclusao</a>
