@model ContatoModel
@{
    ViewData["Title"] = "Editar contato";
}
<div class="text-center">

    <h1 class="display-4">Editar Contato</h1>

</div>

<form asp-controller="ContatoController1" asp-action="Alterar" method="post">

     <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label for="nome" class="col-12 mt-">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o Nome do Contato">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>

    <div class="form-group">
        <label for="email" class="col-12 mt-4">E-mail</label>
        <input type="text" asp-for="Email" class="form-control" placeholder="Digite o E-mail do Contato">
        @Html.ValidationMessageFor(x => x.Email)
    </div>

    <div class="form-group">
        <label for="celular" class="col-12 mt-4">Celular</label>
        <input type="text" asp-for="Celular" class="form-control" placeholder="Digite o Celular do Contato">
        @Html.ValidationMessageFor(x => x.Celular)
    </div>

    <br />

    <button type="submit" class="btn btn-primary col-12 mt-2">Alterar</button>
    <br />
    <a class="btn btn-secondary col-12 mt-2" asp-controller="ContatoController1" asp-action="Index">Voltar</a>
</form>
